.background{
	z-index: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 160px;
	width: 272px;
	background-color: #979797;
	background-image: url("../images/parallax-mountain-bg.png");
	background-size: 100%;
}

.mount{
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 160px;
	width: 272px;
	background-image: url("../images/parallax-mountain-montain-far.png");
}

.mounts{
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 160px;
	width: 272px;
	background-image: url("../images/parallax-mountain-mountains.png");
}

.forest-far{
	z-index: 4;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 160px;
	width: 272px;
	background-image: url("../images/parallax-mountain-trees.png");
}

.forest{
	z-index: 5;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 160px;
	width: 272px;
	background-image: url("../images/parallax-mountain-foreground-trees.png");
}

.frame{
	z-index: 6;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 150px;
	width: 262px;
	border: 30px solid #000000;
}